.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: red;
    padding: 5px;
}

.grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}
.popcorn{
    height: 75px;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 100px;
    margin: auto;
    /*padding: 20px;*/
    font-family: yeseva One;
}
.navbar{
    /*red*/
    /*background-color: #ffb3b3;*/
    /*yellow*/
    background-color: #ffe200;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    /*display:flex;*/
    /*justify-content: center;*/
/*align-content: center;*/
}
#pag{
    visibility: hidden;
    /*red*/
    /*background-color: #ffb3b3;*/
    /*yellow*/
    background-color: #ffffcc;
}
button{
    color: white;
    background-color: black;

}
button:disabled{
    background-color: blueviolet;
}
#pop {
    margin: 100px auto auto auto;
    width: 400px;
    height: 400px;
    background: white;
    /*make block 3 spin*/
    animation: spin 4s linear infinite;
    background-image: url("popcorn.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
/*@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }*/

/*.example1 {*/
/*    height: 50px;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/
/*.example1 h3 {*/
/*    font-size: 3em;*/
/*    color: maroon;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    line-height: 50px;*/
/*    text-align: center;*/
/*    !* Starting position *!*/
/*    -moz-transform:translateX(100%);*/
/*    -webkit-transform:translateX(100%);*/
/*    transform:translateX(100%);*/
/*    !* Apply animation to this element *!*/
/*    -moz-animation: example1 10s linear infinite;*/
/*    -webkit-animation: example1 10s linear infinite;*/
/*    animation: example1 10s linear infinite;*/
/*}*/
/*!* Scrool text *!*/
/*@-moz-keyframes example1 {*/
/*    0%   { -moz-transform: translateX(100%); }*/
/*    100% { -moz-transform: translateX(-100%); }*/
/*}*/
/*@-webkit-keyframes example1 {*/
/*    0%   { -webkit-transform: translateX(100%); }*/
/*    100% { -webkit-transform: translateX(-100%); }*/
/*}*/
/*@keyframes example1 {*/
/*    0%   {*/
/*        -moz-transform: translateX(100%);*/
/*        -webkit-transform: translateX(100%);*/
/*        transform: translateX(100%);*/
/*    }*/
/*    100% {*/
/*        -moz-transform: translateX(-100%);*/
/*        -webkit-transform: translateX(-100%);*/
/*        transform: translateX(-100%);*/
/*    }*/
/*}*/

/*#pag{*/
/*    display: none;*/
/*}*/
#searchPag{
    display: none;
}
.topRow {
    margin: auto;
    padding: 10px;

}
