body {
    font-family: 'Muli', sans-serif;
    background-color: #b3fff0;
}
#header {
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    height: 40px;
    text-align: center;
    width: 70%;
    margin: 10px auto;

}

#newList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    font-family: 'Muli', sans-serif;
    width: 100%;
    background-color: #e6fffa;
    justify-content: center;

}
.listContainer{
    background-color: #fedbd0;
    width: 75%;
    height: 500px;
    margin: 20px auto 70px auto;
    justify-content: center;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
    color: #442c2e;
}

.listTitle{
    color: #442c2e;
    background-color: white;
    margin: 20px 20px 5px 20px;
    height: auto;
    padding: 5px;
    text-align: center;
    border: 2px solid #dadfea;
    border-style: outset;
    display: flex;
    justify-content: space-between;
}
span:first-child{
    margin-left: 20px;
}
.taskList{
    display: flex;
    width: 75%;
    height:20px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
}
.buttonHeader{
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    padding: 5px;
}
button{
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    height: auto;
    border: none;
    padding: 8px;
    margin: 0 10px;
    border-radius: 3%;
    background-color: #00b38f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
    background-color: #006652;
}
.taskContainer i{
    margin: 2px;
}