#square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #d16;
}
#square2 {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #00b38f;
}

#square3 {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #cc0;
    /*make block 3 spin*/
    animation: spin 4s linear infinite;
}
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(3600deg); } }